{% extends "base.html" %}
{% block title %} Seleccione mensajes errores a modificar | Sitio de administración de Django {% endblock %}
{% block content %}
<div class="breadcrumbs">
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Mensajes Errores
</div>
<div class="main" id="main">
    <div class="content">
        <!-- Content -->
        <div id="content" class="">
            <h1>Seleccione mensajes errores a modificar</h1>
            <div id="content-main">
                <div class="module" id="changelist">
                    <div class="changelist-form-container">
                        <form id="changelist-form" method="post" novalidate="">
                            {% if not me_list %}
                                <p class="paginator">{{ me_list|length }} mensajes errores</p>
                            {% else %}
                                <div class="results">
                                    <table>
                                        <caption>Mensajes Errores</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sortable column-idmensaje_error">
                                                    <div class="text"><a href="?o=0">Id Mensaje Error</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                                <th scope="col" class="sortable column-mensaje">
                                                    <div class="text"><a href="?o=1">Mensaje</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                                <th scope="col" class="sortable column-id_entidad">
                                                    <div class="text"><a href="?o=2">Id Entidad</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in me_list %}
                                            <tr>
                                                <td><a href="/admin/mensajes/mensajeerrores/{{c.idmensaje_error}}/change/">{{c.idmensaje_error}}</a>
                                                </td>
                                                <td>{{ c.mensaje }}</td>
                                                <td>{{ c.id_entidad }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <p class="paginator">{{ me_list|length }} mensajes errores</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
</div>
{% endblock %}