{% extends "base.html" %}
{% block title %} Seleccione canal a modificar | Sitio de administración de Django {% endblock %}
{% block navbar %}
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Canales
{% endblock navbar %}
{% block tableTittle %}Seleccione canal a modificar{% endblock tableTittle %}
{% block emptyList %}
    {% if not canal_list %}
        <p class="paginator">{{ canal_list|length }} canals</p>
    {% endif %}
{% endblock emptyList %}
{% block caption %}Canal{% endblock caption %}
{% block thead %}
    {% if canal_list %}
    <tr>
        <th scope="col" class="sortable column-idcanal">
            <div class="text"><a href="?o=0">Idcanal</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-nombre">
            <div class="text"><a href="?o=1">Nombre</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-id_entidad">
            <div class="text"><a href="?o=2">Id entidad</a></div>
            <div class="clear"></div>
        </th>
    </tr>
    {% endif %}
{% endblock thead %}
{% block tbody %}
    {% if canal_list %}
        {% for c in canal_list %}
        <tr>
            <td><a href="/admin/entidad/canal/{{c.idcanal}}/change/">{{c.idcanal}}</a>
            </td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.id_entidad }}</td>
        </tr>
        {% endfor %}
    {% endif %}
{% endblock tbody %}
{% block paginator %}
    {% if canal_list %}
        <p class="paginator">{{ canal_list|length }} canals</p>
    {% endif %}
{% endblock paginator %}