{% extends "base.html" %}
{% block title %} Seleccione emoticon a modificar | Sitio de administración de Django {% endblock %}
{% block content %}
<div class="breadcrumbs">
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Emoticons
</div>
<div class="main" id="main">
    <div class="content">
        <!-- Content -->
        <div id="content" class="">
            <h1>Seleccione emoticon a modificar</h1>
            <div id="content-main">
                <div class="module" id="changelist">
                    <div class="changelist-form-container">
                        <form id="changelist-form" method="post" novalidate="">
                            {% if not emoticon_list %}
                                <p class="paginator">>{{ emoticon_list|length }} emoticons</p>
                            {% else %}
                                <div class="results">
                                    <table>
                                        <caption>Emoticons</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" class="sortable column-idemoticon">
                                                    <div class="text"><a href="?o=0">Idemoticon</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                                <th scope="col" class="sortable column-emoticon">
                                                    <div class="text"><a href="?o=1">Emoticon</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                                <th scope="col" class="sortable column-descripcion">
                                                    <div class="text"><a href="?o=2">Descripcion</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                                <th scope="col" class="sortable column-codigo">
                                                    <div class="text"><a href="?o=3">Codigo</a></div>
                                                    <div class="clear"></div>
                                                <th scope="col" class="sortable column-codigo">
                                                    <div class="text"><a href="?o=3">Entidad</a></div>
                                                    <div class="clear"></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in emoticon_list %}
                                            <tr>
                                                <td><a
                                                        href="/admin/entidad/emoticon/{{c.idemoticon}}/change/">{{c.idemoticon}}</a>
                                                </td>
                                                <td>{{ c.emoticon }}</td>
                                                <td>{{ c.descripcion }}</td>
                                                <td>{{ c.codigo }}</td>
                                                <td>{{ c.identidad }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <p class="paginator">>{{ emoticon_list|length }} emoticons</p>
                            {% endif %}    
                        </form>
                    </div>
                </div>
            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
</div>
{% endblock %}