{% extends "base.html" %}
{% block title %} Seleccione intencion a modificar | Sitio de administración de Django {% endblock %}
{% block navbar %}
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Intenciones
{% endblock navbar %}
{% block tableTittle %}Seleccione intencion a modificar{% endblock tableTittle %}
{% block add %}
    <li><a href="/admin/entidad/intencion/add/" class="addlink">Añadir intencion</a></li>
{% endblock add %}
{% block emptyList %}
    {% if not intencion_list %}
    <p class="paginator">{{ intencion_list|length }} intenciones</p>
    {% endif %}
{% endblock emptyList %}
{% block caption %}Intencion{% endblock caption %}
{% block thead %}
    {% if intencion_list %}
    <tr>
        <th scope="col" class="sortable column-idintencion">
            <div class="text"><a href="?o=1">Id Intencion</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-intencion">
            <div class="text"><a href="?o=2">Intencion</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-descripcion">
            <div class="text"><a href="?o=3">Descripcion</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-identidad">
            <div class="text"><a href="?o=4">Id Entidad</a></div>
            <div class="clear"></div>
        </th>
    </tr>
    {% endif %}
{% endblock thead %}
{% block tbody %}
    {% if intencion_list %}
        {% for c in intencion_list %}
        <tr>
            <td><a
                    href="/admin/entidad/intencion/{{c.idintencion}}/change/">{{c.idintencion}}</a>
            </td>
            <td>{{ c.intencion }}</td>
            <td>{{ c.descripcion }}</td>
            <td>{{ c.identidad }}</td>
        </tr>
        {% endfor %}
    {% endif %}
{% endblock tbody %}
{% block paginator %}
    {% if intencion_list %}
        <p class="paginator">{{ intencion_list|length }} intenciones</p>
    {% endif %}
{% endblock paginator %}