{% extends "base.html" %}
{% block title %} Seleccione terminos y condiciones a modificar | Sitio de administración de Django {% endblock %}
{% block navbar %}
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Terminos y Condiciones
{% endblock navbar %}
{% block tableTittle %}Seleccione terminos y condiciones a modificar{% endblock tableTittle %}
{% block add %}
    <li><a href="/admin/entidad/terminoscondiciones/add/" class="addlink">Añadir Terminos y Condiciones</a></li>
{% endblock add %}
{% block emptyList %}
    {% if not tyc_list %}
        <p class="paginator">{{ tyc_list|length }} terminos y condiciones</p>
    {% endif %}
{% endblock emptyList %}
{% block caption %}Terminos y Condiciones{% endblock caption %}
{% block thead %}
    {% if tyc_list %}
    <tr>
        <th scope="col" class="sortable column-idtermino">
            <div class="text"><a href="?o=0">Idtermino</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-titulo">
            <div class="text"><a href="?o=1">Titulo</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-descripcion">
            <div class="text"><a href="?o=2">Descripcion</a></div>
            <div class="clear"></div>
        </th>
        <th scope="col" class="sortable column-entidad_identidad">
            <div class="text"><a href="?o=3">Entidad identidad</a></div>
            <div class="clear"></div>
        </th>
    </tr>
    {% endif %}
{% endblock thead %}
{% block tbody %}
    {% if tyc_list %}
        {% for c in tyc_list %}
        <tr>
            <td><a href="/admin/entidad/sucursal/{{c.id}}/change/">{{c.idtermino}}</a>
            </td>
            <td>{{ c.titulo }}</td>
            <td>{{ c.descripcion }}</td>
            <td>{{ c.entidad_identidad }}</td>
        </tr>
        {% endfor %}
    {% endif %}
{% endblock tbody %}
{% block paginator %}
    {% if tyc_list %}
        <p class="paginator">{{ tyc_list|length }} terminos y condiciones</p>
    {% endif %}
{% endblock paginator %}