{% extends "base.html" %}
{% block title %} Seleccione recursos entidad a modificar | Sitio de administración de Django {% endblock %}
{% block content %}
<div class="breadcrumbs">
    <a href="/admin/">Inicio</a>
    &rsaquo; <a href="/admin/entidad/">Entidad</a>
    &rsaquo; Recursos Entidad
</div>
<div class="main" id="main">
    <div class="content">
        <!-- Content -->
        <div id="content" class="">
            <h1>Seleccione recursos entidad a modificar</h1>
            <div id="content-main">
                <div class="module" id="changelist">
                    <div class="changelist-form-container">
                        <form id="changelist-form" method="post" novalidate=""><input type="hidden"
                                name="csrfmiddlewaretoken"
                                value="p8VRdfTBwNpFxn079CEulSwKqhT6peYnQLVXP2AjogS92igfLRoUAouAlxkIt91H">
                            <div class="results">
                                <table id="result_list">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="sortable column-idrecursos">
                                                <div class="text"><a href="?o=0">Id Recursos</a></div>
                                                <div class="clear"></div>
                                            </th>
                                            <th scope="col" class="sortable column-path">
                                                <div class="text"><a href="?o=1">Path</a></div>
                                                <div class="clear"></div>
                                            </th>
                                            <th scope="col" class="sortable column-tipo">
                                                <div class="text"><a href="?o=2">Tipo</a></div>
                                                <div class="clear"></div>
                                            </th>
                                            <th scope="col" class="sortable column-id_entidad">
                                                <div class="text"><a href="?o=3">Id Entidad</a></div>
                                                <div class="clear"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in re_list %}
                                        <tr>
                                            <td><a href="/admin/entidad/recursosentidad/{{c.idrecursos}}/change/">{{c.idrecursos}}</a>
                                            </td>
                                            <td>{{ c.path }}</td>
                                            <td>{{ c.tipo }}</td>
                                            <td>{{ c.id_entidad }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
</div>
{% endblock %}