<div class="actions">
    {% csrf_token %}
    <label>Acción: <select name="action" required="">
            <option value="" selected="">---------</option>
            <option value="acticacion_Logica">Acticacion Logica</option>
            <option value="eliminacion_Logica">Eliminacion Logica</option>
        </select></label><input type="hidden" name="select_across" value="0" class="select-across">
    <button type="submit" class="button" title="Ejecutar la acción seleccionada" name="index" value="0">Ir</button>
    <span class="action-counter">seleccionados 0 de 3</span>
</div>
