<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Activar navegación"></button>
<nav class="sticky" id="nav-sidebar">
    <input type="search" id="nav-filter" placeholder="Empiece a escribir para filtrar…"
        aria-label="Filtrar elementos de navegación" tabindex="-1">
    <div class="app-administrador module current-app">
        <table>
            <caption>
                <a href="/admin/administrador/" class="section" title="Modelos en la aplicación Administrador"
                    tabindex="-1">Administrador</a>
            </caption>
            <tbody>
                <tr class="model-administrador current-model">
                    <th scope="row"><a href="/admin/administrador/administrador/" aria-current="page"
                            tabindex="-1">Administradors</a></th>
                    <td><a href="/admin/administrador/administrador/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-userentidad">
                    <th scope="row"><a href="/admin/administrador/userentidad/" tabindex="-1">User entidads</a></th>
                    <td><a href="/admin/administrador/userentidad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-auth module">
        <table>
            <caption>
                <a href="/admin/auth/" class="section" title="Modelos en la aplicación Autenticación y autorización"
                    tabindex="-1">Autenticación y autorización</a>
            </caption>
            <tbody>
                <tr class="model-group">
                    <th scope="row"><a href="/admin/auth/group/" tabindex="-1">Grupos</a></th>
                    <td><a href="/admin/auth/group/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-user">
                    <th scope="row"><a href="/admin/auth/user/" tabindex="-1">Usuarios</a></th>
                    <td><a href="/admin/auth/user/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-campos module">
        <table>
            <caption>
                <a href="/admin/campos/" class="section" title="Modelos en la aplicación Campos"
                    tabindex="-1">Campos</a>
            </caption>
            <tbody>
                <tr class="model-campospersonalizadosentidad">

                    <th scope="row"><a href="/admin/campos/campospersonalizadosentidad/" tabindex="-1">Campos
                            personalizados entidads</a></th>
                    <td><a href="/admin/campos/campospersonalizadosentidad/add/" class="addlink"
                            tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-campospersonalizadosnuevacuenta">
                    <th scope="row"><a href="/admin/campos/campospersonalizadosnuevacuenta/" tabindex="-1">Campos
                            personalizados nueva cuentas</a></th>
                    <td><a href="/admin/campos/campospersonalizadosnuevacuenta/add/" class="addlink"
                            tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-opcionescampo">
                    <th scope="row"><a href="/admin/campos/opcionescampo/" tabindex="-1">Opciones campos</a></th>
                    <td><a href="/admin/campos/opcionescampo/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-tiposcampos">
                    <th scope="row"><a href="/admin/campos/tiposcampos/" tabindex="-1">Tipos camposs</a></th>
                    <td><a href="/admin/campos/tiposcampos/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-cliente module">
        <table>
            <caption>
                <a href="/admin/cliente/" class="section" title="Modelos en la aplicación Cliente"
                    tabindex="-1">Cliente</a>
            </caption>
            <tbody>
                <tr class="model-clientebothasentidad">

                    <th scope="row"><a href="/admin/cliente/clientebothasentidad/" tabindex="-1">Cliente bot has
                            entidads</a></th>
                    <td><a href="/admin/cliente/clientebothasentidad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-clientebot">
                    <th scope="row"><a href="/admin/cliente/clientebot/" tabindex="-1">Cliente bots</a></th>
                    <td><a href="/admin/cliente/clientebot/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-entidad module">
        <table>
            <caption>
                <a href="/admin/entidad/" class="section" title="Modelos en la aplicación Entidad"
                    tabindex="-1">Entidad</a>
            </caption>
            <tbody>
                <tr class="model-canal">
                    <th scope="row"><a href="/admin/entidad/canal/" tabindex="-1">Canals</a></th>
                    <td><a href="/admin/entidad/canal/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-configrecurso">
                    <th scope="row"><a href="/admin/entidad/configrecurso/" tabindex="-1">Config recursos</a></th>
                    <td><a href="/admin/entidad/configrecurso/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-contrato">
                    <th scope="row"><a href="/admin/entidad/contrato/" tabindex="-1">Contratos</a></th>
                    <td><a href="/admin/entidad/contrato/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-emoticon">
                    <th scope="row"><a href="/admin/entidad/emoticon/" tabindex="-1">Emoticons</a></th>
                    <td><a href="/admin/entidad/emoticon/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-entidad">
                    <th scope="row"><a href="/admin/entidad/entidad/" tabindex="-1">Entidads</a></th>
                    <td><a href="/admin/entidad/entidad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-intenciontipo">
                    <th scope="row"><a href="/admin/entidad/intenciontipo/" tabindex="-1">Intencion tipos</a></th>
                    <td><a href="/admin/entidad/intenciontipo/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-intencion">
                    <th scope="row"><a href="/admin/entidad/intencion/" tabindex="-1">Intencions</a></th>
                    <td><a href="/admin/entidad/intencion/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-listanegra">
                    <th scope="row"><a href="/admin/entidad/listanegra/" tabindex="-1">Lista negras</a></th>
                    <td><a href="/admin/entidad/listanegra/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-pagina">
                    <th scope="row"><a href="/admin/entidad/pagina/" tabindex="-1">Paginas</a></th>
                    <td><a href="/admin/entidad/pagina/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-recursosentidad">
                    <th scope="row"><a href="/admin/entidad/recursosentidad/" tabindex="-1">Recursos entidads</a></th>
                    <td><a href="/admin/entidad/recursosentidad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-servicio">
                    <th scope="row"><a href="/admin/entidad/servicio/" tabindex="-1">Servicios</a></th>
                    <td><a href="/admin/entidad/servicio/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-serviciosentidad">
                    <th scope="row"><a href="/admin/entidad/serviciosentidad/" tabindex="-1">Servicios entidads</a></th>
                    <td><a href="/admin/entidad/serviciosentidad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-sucursal">
                    <th scope="row"><a href="/admin/entidad/sucursal/" tabindex="-1">Sucursals</a></th>
                    <td><a href="/admin/entidad/sucursal/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-terminoscondiciones">
                    <th scope="row"><a href="/admin/entidad/terminoscondiciones/" tabindex="-1">Terminos
                            condicioness</a></th>
                    <td><a href="/admin/entidad/terminoscondiciones/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-tipocanal">
                    <th scope="row"><a href="/admin/entidad/tipocanal/" tabindex="-1">Tipo canals</a></th>
                    <td><a href="/admin/entidad/tipocanal/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-mensajes module">
        <table>
            <caption>
                <a href="/admin/mensajes/" class="section" title="Modelos en la aplicación Mensajes"
                    tabindex="-1">Mensajes</a>
            </caption>
            <tbody>
                <tr class="model-catalogoserrores">
                    <th scope="row"><a href="/admin/mensajes/catalogoserrores/" tabindex="-1">Catalogos erroress</a>
                    </th>
                    <td><a href="/admin/mensajes/catalogoserrores/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-mensajeerrores">
                    <th scope="row"><a href="/admin/mensajes/mensajeerrores/" tabindex="-1">Mensaje erroress</a></th>
                    <td><a href="/admin/mensajes/mensajeerrores/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-mensaje">
                    <th scope="row"><a href="/admin/mensajes/mensaje/" tabindex="-1">Mensajes</a></th>
                    <td><a href="/admin/mensajes/mensaje/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-modulo module">
        <table>
            <caption>
                <a href="/admin/modulo/" class="section" title="Modelos en la aplicación Modulo"
                    tabindex="-1">Modulo</a>
            </caption>
            <tbody>
                <tr class="model-moduloperfil">
                    <th scope="row"><a href="/admin/modulo/moduloperfil/" tabindex="-1">Modulo perfils</a></th>
                    <td><a href="/admin/modulo/moduloperfil/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-moduloadministrador">
                    <th scope="row"><a href="/admin/modulo/moduloadministrador/" tabindex="-1">Moduloadministradors</a>
                    </th>
                    <td><a href="/admin/modulo/moduloadministrador/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-modulo">
                    <th scope="row"><a href="/admin/modulo/modulo/" tabindex="-1">Modulos</a></th>
                    <td><a href="/admin/modulo/modulo/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-pais module">
        <table>
            <caption>
                <a href="/admin/pais/" class="section" title="Modelos en la aplicación Pais" tabindex="-1">Pais</a>
            </caption>
            <tbody>
                <tr class="model-ciudad">
                    <th scope="row"><a href="/admin/pais/ciudad/" tabindex="-1">Ciudads</a></th>
                    <td><a href="/admin/pais/ciudad/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-moneda">
                    <th scope="row"><a href="/admin/pais/moneda/" tabindex="-1">Monedas</a></th>
                    <td><a href="/admin/pais/moneda/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-pais">
                    <th scope="row"><a href="/admin/pais/pais/" tabindex="-1">Paiss</a></th>
                    <td><a href="/admin/pais/pais/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-perfil module">
        <table>
            <caption>
                <a href="/admin/perfil/" class="section" title="Modelos en la aplicación Perfil"
                    tabindex="-1">Perfil</a>
            </caption>
            <tbody>
                <tr class="model-perfiladministrador">
                    <th scope="row"><a href="/admin/perfil/perfiladministrador/" tabindex="-1">Perfil administradors</a>
                    </th>
                    <td><a href="/admin/perfil/perfiladministrador/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-perfil">
                    <th scope="row"><a href="/admin/perfil/perfil/" tabindex="-1">Perfils</a></th>
                    <td><a href="/admin/perfil/perfil/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="app-plan module">
        <table>
            <caption>
                <a href="/admin/plan/" class="section" title="Modelos en la aplicación Plan" tabindex="-1">Plan</a>
            </caption>
            <tbody>
                <tr class="model-detalleplan">
                    <th scope="row"><a href="/admin/plan/detalleplan/" tabindex="-1">Detalle plans</a></th>
                    <td><a href="/admin/plan/detalleplan/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-plancontrato">
                    <th scope="row"><a href="/admin/plan/plancontrato/" tabindex="-1">Plan contratos</a></th>
                    <td><a href="/admin/plan/plancontrato/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
                <tr class="model-plan">
                    <th scope="row"><a href="/admin/plan/plan/" tabindex="-1">Plans</a></th>
                    <td><a href="/admin/plan/plan/add/" class="addlink" tabindex="-1">Añadir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</nav>